/* work sans font Google form */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

  /* Shared style */

  *{
   font-family: 'Work Sans', sans-serif;

  }

  .text-lightgray{
      color: #727272;
  }

  .section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    color: #fff;
    cursor: pointer;
    border: 0;
}

  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }

 nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  

  nav > ul {
      display: flex;

  }

  nav li{
      list-style: none;
      margin-right: 30px;
      font-weight: 500;
      font-size: 1rem;
  }

nav > li > a{
    text-decoration: none;
}

/* banner style */

.banner-content{
 max-width: 800px;
text-align: center;
margin: 0 auto;
    
}

.banner-titel{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner img{
    margin-top: 20px;
    width: 100%;
}




/* main style */
main{
    max-width:  1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
/* .teams-img-container img{
    width: 100%;
} */
.teams-img-container{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}


.teams-titel{
    font-size: 2.8rem;
}

.teams-titel .quick-list{
    font-weight: 500;
}

.teams-titel .text-feature{
    color: #FF900E;
    font-weight: 700;
}






















/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */


/* Respnsive media Queries */
/* Mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    } 
    nav, .teams-container{

        flex-direction: column;
    }

    .teams-img-container{
        padding-right: 1px;
        padding-left: 1px;
        grid-template-columns: 1fr;
    }

    .teams-content{
        padding-right: 1px;
        padding-left: 1px;
        text-align: center;
    }
}



/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */


/* Tablet or medum Devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
   
    header{ 
        padding: 50px;
    }
    nav, .teams-container {
        flex-direction: column;
    }
    .teams-img-container{
        padding-right: 1px;
        padding-left: 1px;
        grid-template-columns: repeat(2, 1fr);
    }
    .teams-content{
        padding-right: 1px;
        padding-left: 1px;
        text-align: center;
    }
}

/* ____________________________________________ */
/* ____________________________________________ */